<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Miniproject"
        tools:targetApi="31">

        <!-- Main Launcher Entry Point -->
        <activity
            android:name=".Mainpage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Selection & Hub Activities -->
        <activity
            android:name=".SelectionActivity"
            android:exported="false" />
        <activity
            android:name=".GameActivity2"
            android:exported="false" />
        <activity
            android:name=".ChooseGameActivity2"
            android:exported="false" />

        <!-- Mini-Games Activities -->
        <activity android:name=".AnimalSoundsActivity" />
        <activity android:name=".ShapeTapActivity" />
        <activity
            android:name=".BalloonGameActivity"
            android:exported="false" />
        <activity
            android:name=".ColoringGameActivity"
            android:exported="false" />
        <activity
            android:name=".MatchingGameActivity"
            android:exported="false" />
        <activity
            android:name=".FlashcardActivity"
            android:exported="false" />

        <!-- Educational Category Activities -->
        <activity
            android:name=".A_To_Z"
            android:exported="false" />
        <activity
            android:name=".NumbersActivity"
            android:exported="false" />
        <activity
            android:name=".color"
            android:exported="false" />
        <activity
            android:name=".FruitsActivity"
            android:exported="false" />
        <activity
            android:name=".NumberSequencingActivity"
            android:exported="false" />
        <activity
            android:name=".AnimalsActivity"
            android:exported="false"
            android:label="@string/animal_sounds"
            android:parentActivityName=".MainActivity" />

    </application>

</manifest>